/*
  ========================================
  Custom Styles
  ========================================
*/

body {
    font-family: 'BioRhyme Expanded', serif!important;
    background: black;
    color: whitesmoke;
}

p {
    font-size:20px;
}

/*
  ========================================
  Container
  ========================================
*/
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

/*
  ========================================
  Link
  ========================================
*/

.link {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    color:lightseagreen;
}
.link:hover{
    color:darkseagreen;
}