/*
  ========================================
  Custom Styles
  ========================================
*/

body {
    font-family: 'BioRhyme Expanded', serif!important;
    background: black;
    color: whitesmoke;
}

p {
    font-size:20px;
}

footer {
  text-align: center;
  margin-top: 5px;
}

/*
  ========================================
  Container
  ========================================
*/
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

/*
  ========================================
  Weatherbox
  ========================================
*/
.weatherbox {
  display: flex;
  flex-flow: column nowrap;
}

/*
  ========================================
  Temperature-Container
  ========================================
*/
.temperature-container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

/*
  ========================================
  Link
  ========================================
*/

.link {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    color:lightseagreen;
    cursor: pointer;
}
.link:hover{
    color:darkseagreen;
}